integrations/n8n/pdf-to-podcast/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf_podcast",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        -96
      ],
      "id": "77741c4b-1160-4b99-af3e-884663d2560c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.host }}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "85998933-8933-4cea-89d0-8ad266985f46"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hostA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e3a90670-b317-4f10-86aa-f94e8adc29df",
                    "leftValue": "={{ $json.host}}",
                    "rightValue": "B",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hostB"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        -96
      ],
      "id": "f0026ef9-7f7c-45b6-9c33-f1bd56b18315",
      "name": "Switch"
    },
    {
      "parameters": {
        "formTitle": "PDF to Podcast",
        "formDescription": "get pdf",
        "formFields": {
          "values": [
            {
              "fieldLabel": "pdf_podcast",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -176,
        -96
      ],
      "id": "18a5fd52-c238-435e-817c-e68b3da2adb4",
      "name": "On form submission",
      "webhookId": "2feece75-0993-41ff-8d27-722b138d0e43"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0].content[0].text.script",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        -96
      ],
      "id": "56372658-94bb-405d-9efa-753ad5890c46",
      "name": "Split Out"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-smallestai.smallestai",
      "typeVersion": 1,
      "position": [
        1168,
        -400
      ],
      "id": "0f0e6838-bcfe-4447-a103-a5d034683e92",
      "name": "Synthesize speech",
      "credentials": {
        "smallestaiApi": {
          "id": "KfDeV6omRVuGEJea",
          "name": "Smallest.ai account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "voiceId": "devansh",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-smallestai.smallestai",
      "typeVersion": 1,
      "position": [
        1168,
        160
      ],
      "id": "aa6a5b02-738e-41f1-a145-1cbbcf7786f0",
      "name": "Synthesize speech1",
      "credentials": {
        "smallestaiApi": {
          "id": "KfDeV6omRVuGEJea",
          "name": "Smallest.ai account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1744,
        -112
      ],
      "id": "708bc7e0-8c89-45f2-9f62-ccd250d12f96",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2f8a2b1-b402-4344-a53a-2f6b726b2488",
              "name": "order",
              "value": "={{ $('Switch').item.json.order }}",
              "type": "string"
            },
            {
              "id": "4989e8e4-c429-4c61-9705-8193b4be85f2",
              "name": "host",
              "value": "={{ $('Switch').item.json.host }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -400
      ],
      "id": "22f176c6-f85c-4acb-8603-98995f324089",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88d4bddb-d7ef-44ce-9d6f-c5ce95b84e49",
              "name": "order",
              "value": "={{ $('Switch').item.json.order }}",
              "type": "string"
            },
            {
              "id": "5bcb040a-ca64-4eb9-a5e9-d690a481910e",
              "name": "host",
              "value": "={{ $('Switch').item.json.host }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        160
      ],
      "id": "3e89ee99-102e-4b12-831d-93d2a8cf3c62",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "order"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1952,
        -112
      ],
      "id": "63030733-aef8-4091-840a-ecd640188e75",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction parseWav(buffer) {\n  const sampleRate = buffer.readUInt32LE(24);\n  const numChannels = buffer.readUInt16LE(22);\n  const bitsPerSample = buffer.readUInt16LE(34);\n  const dataSize = buffer.readUInt32LE(40);\n  const pcmData = buffer.slice(44, 44 + dataSize);\n  return { sampleRate, numChannels, bitsPerSample, pcmData };\n}\n\nfunction buildWavHeader(totalDataSize, sampleRate, numChannels, bitsPerSample) {\n  const header = Buffer.alloc(44);\n  const byteRate = sampleRate * numChannels * bitsPerSample / 8;\n  const blockAlign = numChannels * bitsPerSample / 8;\n  header.write('RIFF', 0);\n  header.writeUInt32LE(36 + totalDataSize, 4);\n  header.write('WAVE', 8);\n  header.write('fmt ', 12);\n  header.writeUInt32LE(16, 16);\n  header.writeUInt16LE(1, 20);\n  header.writeUInt16LE(numChannels, 22);\n  header.writeUInt32LE(sampleRate, 24);\n  header.writeUInt32LE(byteRate, 28);\n  header.writeUInt16LE(blockAlign, 32);\n  header.writeUInt16LE(bitsPerSample, 34);\n  header.write('data', 36);\n  header.writeUInt32LE(totalDataSize, 40);\n  return header;\n}\n\nconst pcmChunks = [];\nlet format = null;\n\n// KEY CHANGE: use this.helpers.getBinaryDataBuffer instead of manual base64 decode\nfor (let i = 0; i < items.length; i++) {\n  const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n  const parsed = parseWav(buffer);\n\n  if (!format) {\n    format = {\n      sampleRate: parsed.sampleRate,\n      numChannels: parsed.numChannels,\n      bitsPerSample: parsed.bitsPerSample\n    };\n  }\n  pcmChunks.push(parsed.pcmData);\n}\n\nconst totalPcm = Buffer.concat(pcmChunks);\nconst header = buildWavHeader(\n  totalPcm.length,\n  format.sampleRate,\n  format.numChannels,\n  format.bitsPerSample\n);\nconst finalWav = Buffer.concat([header, totalPcm]);\n\nreturn [{\n  json: { fileName: 'podcast.wav', sizeBytes: finalWav.length },\n  binary: {\n    data: await this.helpers.prepareBinaryData(finalWav, 'podcast.wav', 'audio/wav')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        -112
      ],
      "id": "a21c32fa-baec-4528-a051-e1aa074020f1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are scripting a 30-second podcast in english.\n\nCAST:\n- Host A: Avery, a young female American host. Curious, asks probing\n  questions, plays the \"interested generalist.\"\n- Host B: Devansh, a young male Indian host. The \"expert\" who explains\n  concepts, reacts to A's questions, occasionally challenges A.\n\nDIALOGUE RULES:\n1. Hosts MUST react to each other. B never just delivers a paragraph —\n   B responds to what A just said, then adds new information.\n2. Average turn length: 1-3 sentences. Long monologues are forbidden.\n3. Use connective tissue: \"Right, so...\", \"Wait, but...\", \"Hmm, push back\n   on that...\", \"That's a great point — and actually...\"\n4. Include 3+ moments of interruption, qualification, or clarifying questions.\n5. Open: A welcomes listeners, introduces B + topic. Close: B summarizes,\n   A signs off.\n6. Aim for 60-80 short turns. Snappy back-and-forth.\n\nNumber each turn sequentially in the `order` field. Output JSON matching\nthe schema."
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"script\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"order\": { \"type\": \"integer\" },\n          \"host\": { \"type\": \"string\", \"enum\": [\"A\", \"B\"] },\n          \"text\": { \"type\": \"string\" }\n        },\n        \"required\": [\"order\", \"host\", \"text\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"script\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        304,
        -288
      ],
      "id": "266f67bf-98b4-40c4-b08d-ecfe21290a84",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "PtP3KQN7NQeRYfI5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sosumit001@gmail.com",
        "subject": "(completed) PDF to Podcast generator",
        "message": "Check the attached file",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2400,
        -112
      ],
      "id": "30dd6513-a30b-497c-be23-4c760214693f",
      "name": "Send a message",
      "webhookId": "626bf6ea-4bbc-4cf4-8fb1-f9a065008952",
      "credentials": {
        "gmailOAuth2": {
          "id": "zEp6q9GR1ke8tTba",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Synthesize speech",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Synthesize speech1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesize speech1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesize speech": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3c721245-32d3-4795-9ac2-4c2c0502ac32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e375e363bda4098b29928eceaa8121fba54d523e7c2a5f2fa63f98207d7451aa"
  },
  "id": "RCeDeCKwHw0hqxvb",
  "tags": []
}
